{% extends "dynamic/master.html"%}
{% block title%}
    Registration
{% endblock%}
{% block content%}
<!-- Section: Design Block -->
<section class="">
   
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            {% comment %} <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.  
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p> {% endcomment %}
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="col-md-12 mb-4 text-center">
                      <img src="" class="rounded" id="profile-pic" alt="Selected image">
                    </div>
                    <div class="col-md-12 mb-4">
                        {{form.profile}}
                        {{form.profile.errors}}
                    </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                          {{ form.firstname }}
                          {{ form.firstname.errors }}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                          {{ form.lastname }}
                          {{ form.lastname.errors }}
                      </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        {{ form.phone_num }}
                        {{ form.phone_num.errors }}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        {{ form.user_name }}
                        {{ form.user_name.errors}}
                      </div>
                    </div>
                    </div>

                    <div class="col-md-12 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        {{ form.password }}
                        {{ form.password.errors }}
                      </div>
                    </div>

                    {{ form.non_form_errors }}
  
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
                  <p>Already have an account?<a href="/">Login</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>
  <!-- Section: Design Block -->

  {% endblock%}