html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px; /* Adjust max-width as needed */
    padding: 20px;
    box-sizing: border-box;
}



.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #df0a0a;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}



/* registration */
.gradient-custom {

    background: #f093fb;
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    #profile-pic {
        width: 200px; /* Adjust the size as needed */
        height: 200px; /* Adjust the size as needed */
        border-radius: 50%;
        object-fit: cover;
    }